@import url("colours.css");
@import url("interaction.css");

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    min-width: 560px;

    scroll-behavior: smooth;
    overscroll-behavior-x: auto;

    color: var(--text);

    /* Designed with 1rem = 16px */
    --font-size-normal: 1.5625rem;
    /* 25px */
    --font-size-shrunk: 1.25rem;
    /* 20px */

    --font-size: var(--font-size-normal);
}

body {
    background-color: var(--nav-background);
    /* //rgb(10, 15, 20); */
    margin: 0 auto;
    padding: 0;
    position: relative;
    min-height: 100vh;
    overscroll-behavior: none;
    z-index: 0;

    font-size: var(--font-size);
}

#background {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    /* position: relative; */
    min-height: 100%;
    overscroll-behavior: none;
    z-index: 0;
}

footer {
    position: relative;
    width: 100%;
    color: var(--footer-text);
    background-color: var(--footer-background);
    z-index: 10;
    /* margin-top: 1px; */
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    vertical-align: top;
    overscroll-behavior: none;
    overflow: hidden;

    background-color: var(--header-background);
    box-shadow: 0 0 1em var(--header-background);

    z-index: 10;
}

nav,
body {
    transition: font-size 100ms linear;
}

input,
textarea,
keygen,
select,
button {
    font-size: var(--font-size);
}

html:not([data-scroll='0']) nav {
    font-size: 80%;
}

#subbody {
    max-width: 950px;
    width: 90%;
    margin: auto;
    margin-bottom: 0;
    padding-top: 4em;
    padding-bottom: .5em;
    z-index: 5;
    /* 0.5 [The bottom padding], 25px [The size of the footer]  */
    min-height: calc(100vh - calc(0.5em + 25px));

    overflow-x: hidden;
}

ul .left {
    justify-content: left;
    padding: 0px;
    margin: 0px;
}

.title {
    margin-top: 0;
    padding-top: 0.67em;
}

input[type="file"] {
    width: 99%;
}