#background-colour {
    padding-bottom: 0;
}
#config {
    grid-column: 1;
}
#subbody {
    display: grid;
    margin: 0;
    grid-template-columns: 10fr 12fr;

    max-width: 100%;
    width: 99.9vw;
    padding: 0;
    margin: 0;

    height: 100%;
    background-color: var(--background);
}
#auth-body {
    position: relative;
    background-color: black;

    display: flex;
    align-content: center;

    justify-content: center;
    font-size: small;

    clear:both;
}

#demo {
    --demo-family: system-ui;
    --demo-size: 15;
    font-family: var(--demo-family);
    font-size: var(--demo-size);

    margin: 0;
}
#emoteSources {
    display: none;
}
#emoteSources option::before {
    content: content;
}




label {
    flex-direction: row;
    align-items: center;
}
form input[type=checkbox] {
    /* vertical-align: bottom; */
    --form-control-color: #f00;
}
fieldset {
    justify-content: space-between;
}


#chatbox {
    grid-column: 2;
    width: 100%;
    --font-family: system-ui;

    display:flex;
    justify-content: flex-end;
    flex-direction: column;

    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;

    overflow-x: hidden;
    overflow-y: scroll;


    background-color: antiquewhite;

}


#emoteSourceTwitch {
    --input-colour: var(--twitch-purple);
}
#emoteSourceFFZ {
    --input-colour: var(--ffz-green);
}
#emoteSourceBTTV {
    --input-colour: var(--bttv-blue);
}
#emoteSource7TV {
    --input-colour: var(--stv-blue);
}