

#subbody {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
}
#config {
    grid-column: 1;
}

#chat-message {
    display: flex;
    font-family: var(--font-family);


    font-size: var(--font-height-half);
    line-height: var(--font-height-half);

    align-content: flex-start;
    flex-wrap: nowrap;
}
#chat-message * {
    vertical-align: bottom;
}
#chat-message #message {
    display: flex;
}
#chat-message img {
    height: var(--font-height-half);
}

#chatbox {
    background: transparent;
    --font-height-half: calc(var(--font-height) / 2);
    --nav-background: transparent;

    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    width:100vw;

    overflow-x: clip;
    overflow-y: hidden;
}

