:root{
    --background: var(--nav-background);
}
#subbody {
    max-width: 100%;
    width: 99.9vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin: 0;
    align-content: stretch;

    height: 100%;
}
#auth-body {
    position: relative;
    background-color: black;

    display: flex;
    align-content: center;

    justify-content: center;
    font-size: small;

    clear:both;
}

#demo {
    --demo-family: system-ui;
    --demo-size: 15;
    font-family: var(--demo-family);
    font-size: var(--demo-size);

    margin: 0;
}
#emoteSources {
    display: none;
}
#emoteSources option::before {
    content: content;
}

label {
    vertical-align: middle;
}
input[type=checkbox] {
    vertical-align: middle;
}

#chatbox {
    grid-column: 2;
    width: 100%;
    max-height: 90vh;
    --font-family: system-ui;

    display:flex;
    justify-content: flex-end;
    flex-direction: column;

    margin-left: 2em;

    overflow-x: hidden;
    overflow-y: scroll;

}