


#contextMenu {
    display: block;
    position: absolute;
    background-color: rgba(53, 27, 255, 0.6);

    border: 1px solid;
    border-radius: 5px;
    z-index: 10000;
    /* margin: .5em; */
}

#contextMenu > *:not(:last-child) {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid grey;
}

#contextMenu button {
    display: block;
    appearance: none; /* Make Look like normal text */
    border: 0;
    width: 100%;
    padding-inline: 0.25em;
    text-align: start;
    background: transparent;
}
#contextMenu button:hover {
    background: rgba(128, 128, 128, 0.5);
}

#contextMenu.first-student .student .up{
    display: none;
}
#contextMenu.last-student .student .down{
    display: none;
}
#contextMenu:not(.has-student) .student {
    display: none;
}
#contextMenu:not(.has-assignment) .assignment {
    display: none;
}