.box {
    border-radius: 0.75rem;
    margin: 1em;
    padding: 1em;
    background-color: var(--box-background);
    break-inside: avoid;
    box-shadow: 3px 3px 0 1px var(--box-shadow);
    color: var(--box-text);
}

.skills {
    column-count: 1;
}
.skills > * {
    padding-top: 5px;
    padding-bottom: 5px;
}

#toggle {
    position: relative;
    top: 0;
}
#toggle:checked + div {
    display: none;
}