
footer {
    margin: 0;
    padding-bottom: .5em;
    position: sticky;
    top:calc(100vh - 32px);
    height: 100%;
    z-index: 1000 !important;
}
.footlist {
    justify-content: center;
    padding: 5px;
    margin: 0;
    bottom: -3px;
    
    display: flex;
    position: relative;
    padding-inline-start: 0px;
    
}
.footlist li {
    list-style: none;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.footlist li > a {
    text-decoration: none;
    color: var(--footer-text);
    
}