#background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    image-rendering: optimizeSpeed;
    object-fit: cover;
}

html:not([data-scroll='0']) nav#navbar {
    animation: fade-background-in 500ms linear 0s 1 forwards, fade-opacity-in 300ms linear 0s 1 forwards;
}

html[data-scroll='0'] nav#navbar {
    animation: fade-background-out 250ms linear 0s 1 forwards;
}

@keyframes fade-background-out {
    to {
        background-color: transparent;
        box-shadow: none;
    }
}

@keyframes fade-background-in {
    from {
        background-color: transparent;
        box-shadow: none;
    }

    to {
        background-color: var(--header-background);
        box-shadow: 0 0 1em var(--header-background);

    }
}

@keyframes fade-opacity-in {
    to {
        opacity: 100%;
    }
}

#background {
    background-color: transparent;
}

#content {
    justify-content: center;
    text-align: center;

    background-color: transparent;
}

#landing * {
    animation-name: zoom-text;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.6, -0.28, .74, .05);
}

@keyframes zoom-text {
    0% {
        font-size: 0%;
    }

    100% {
        font-size: var(--font-size);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-18vh);
    }

    100% {
        transform: translateY(0);
    }
}

#content {
    /* The amount of Viewport Height minus 3.6em [Height of Header] */
    --original-visible-space: calc(100vh - 3.6em);
    --visible-space: var(--original-visible-space);

    /* The height of the footer plus 0.5em [Content Padding] */
    --footer-height: calc(25px);

    --bottom-space: calc(100vh - var(--footer-height));

    display: initial;
    color: var(--light-text);
}

section {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;
    background-color: var(--background);
}

#landing {
    --font-size: var(--font-size-normal);
    background-color: transparent;

}

#landing {
    justify-content: center;
    margin: auto 0;
    text-shadow: 4px 4px 2px black;
    text-overflow: clip;
}

header {
    padding-top: 45vh;
    --font-size: 5rem;
    text-overflow: clip;
}

#overview {
    position: relative;
    height: var(--visible-space);
    background-color: var(--background)
}

#content section:last-child {
    --visible-space: calc(var(--bottom-space) - 2.6em);
}

#content section:last-child>:first-child {
    margin-top: 0;
    padding-top: 1em;
}

section {
    padding-left: 5vw;
    padding-right: 5vw;
    min-height: fit-content;
    overflow-x: hidden;
}


section a {
    padding: 2px 1px 0;
}