
/* Mobile */
:root {
    min-width: 0;
}

.navlist {
    position: relative;
    padding: 0.8em 0;
    justify-content: flex-start;
    /* space-between; */

    display: flex;
    box-sizing: border-box;
    width: 100%;
    z-index: 100;
    margin: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;

    color: var(--header-text);
}
.navlist ul {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 0;
}
.navlist li {
    list-style: none;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.navlist li > * {
    margin-right: 0.8em;
}
.navlist li > a {
    text-decoration: none;
    color: var(--blue);
}
.navlist ul li:last-child > *{
    margin-right: 0.0em;
}
.navlist img {
    height: 2em;
    width: 2em;
    padding: 0;
    border-radius: 0.16em;
    vertical-align: baseline;
}

.left {
    padding-left: 5em;
    position: relative;
    display: block;
    justify-content: flex-end;
}

#topNav {
    opacity: 0;
    position: relative;
    transition: opacity 100ms linear;
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
    z-index: 10;
}
.navBackground {
    padding-left: 3.2em;
    transition: padding-left 100ms linear;
}
@media (min-width: 470px) {
    #topNav {
        width: 30vw;
    }
}
/* Tablets */
@media (min-width: 480px) {
    :root {
        min-width: 470px;
    }
    #topNav {
        position: relative;
        opacity: 1;

        width: auto;
        transform: translateX(0%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
    .navlist {
        justify-content: space-between;
        position: relative;
        padding: 0.8em;
    }
    .navBackground {
        padding-left: 1.6em;
    }
}
/* Screens */
@media (min-width: 769px) {
    :root {
        min-width: 560px;
    }
   
}
/* Title */
#iconTxt {
    display: none;

    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: hidden;

    animation: none;

    position: relative;
    z-index: -1;

    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
@media (min-width: 670px) {
    #iconTxt {
        display: initial;
        opacity: 0;

        animation: hide-txt 0.5s forwards;
        -webkit-animation: hide-txt 0.5s forwards;
        
        transition: opacity 500ms linear;
    }
}
@media (min-width: 810px) {
#iconTxt {
    opacity: 1;
    animation: none;
}
}
/* End Title */

@keyframes slide-out {
    99% { transform: translateY(200%); }
    100% { transform: translateY(200%); width:0; }
}

@-webkit-keyframes slide-out {
    99% { -webkit-transform: translateY(200%); }
    100% { -webkit-transform: translateY(200%); width:0; }
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}

@keyframes hide-txt {
    50% { width:100%; transform: translateY(200%); }
    100% {width:0; transform: translateY(200%);}
}

@-webkit-keyframes hide-txt {
    50% { width:100%; -webkit-transform: translateY(200%); }
    100% {width:0; -webkit-transform: translateY(200%);}
}