
#projectList {
    padding: 0;
    margin: 0;
    align-content: flex-start;
}

.project {
    list-style: none;

    position: relative;
    text-align: center;

    color: white;

    width: 450px;
    height: 254px;
    aspect-ratio: 450/254;

    margin:0;
    /* margin-bottom: 1em; */
    border-radius: 5px;
}
.project * {
    border-radius: inherit;
}

@media (max-width: 540px) {
    .project {
        width: 225px;
        height: 127px;
    }
}

.project .infobar {
    position: absolute;
    margin: 0;
    padding-left: 1em;
    padding-right: .2em;
    padding-bottom: .75em;
    padding-top: .25em;
    left: 0;
    bottom: 0;

    width: calc(100% - 1.2em);
    height: auto;
    aspect-ratio: 450/0;
    background-color: rgba(0,0,0, 0.5);

    vertical-align: baseline;
    text-align: left;
    color: var(--light-text);

    backdrop-filter: blur(1em) ;
    -webkit-backdrop-filter: blur(1em) ;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.project > div {
    position: absolute;
    top: 0; left:0;
    width: 100%;
    height: 100%;
}
.project .infobar {
    opacity: 0;
    transition: opacity .25s ease-in;
}
.project:hover .infobar{
    opacity: 1;
}

.project{
    --project-colour: rgb(79, 79, 79);
    transition: 
        transform  .2s ease-in, 
        box-shadow .2s ease-in;
    transform: translate(0, 0);
    box-shadow: 0 0 10px 0 var(--project-colour);
}
.project:hover{
    transform: translate(.2em, -.2em);
    box-shadow: -.2em .2em 10px 0 var(--project-colour);
}
