
#projectList {
    padding: 0;
    margin: 0;
    align-content: flex-start;
}

.project {
    list-style: none;

    position: relative;
    text-align: center;

    color: white;

    width: 450px;
    height: 254px;

    margin-bottom: 1em;
    border-radius: 5px;
}

.project a {
    border-radius: inherit;
}
.project div > p {
    position: absolute;
    margin: 0;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: .25em;
    left: 0;
    bottom: 0;

    width: calc(100% - 1em);
    height: auto;
    background-color: rgba(0,0,0, 0.5);

    vertical-align: baseline;
    text-align: left;
    color: var(--white-text);

    backdrop-filter: blur(1em) ;
    -webkit-backdrop-filter: blur(1em) ;

    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.project div {
    position: absolute;
    top: 0; left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: inherit;

    transition: opacity .25s ease-in;
}
.project:hover div{
    opacity: 1;
}

.project{
    transition: 
        transform  .2s ease-in, 
        box-shadow .2s ease-in;
    transform: translate(0, 0);
    box-shadow: 0 0 10px 0 black;
}
.project:hover{
    transform: translate(.2em, -.2em);
    box-shadow: -.2em .2em 10px 0 black;
}
