_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

.DS_Store
scratch.*

# Exclude everything in projects
projects/*
projects/data/*
projects/data/CGD/*
projects/**/*.zip
# Needing all of these sucks so much lol
!projects/data
!projects/data/CGD
!projects/data/CGD/QualityAssurance
**/Conrad*