_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.venv
.obsidian
*.pyc

.DS_Store
scratch.*

# Exclude everything in projects/data
projects/data/*
# Exclude the files that my SSG will generate
projects/**/index.html