
.navlist {
    display: flex;
    box-sizing: border-box;
    width: 100%;

    z-index: 100;
    margin: 0;
    padding: 0.8em 0px 0.8em 1.6em;
}
.navlist ul {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    padding: 0px;
}
.navlist li {
    list-style: none;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    
}
.navlist li > * {
    margin-right: 0.8em;
}
.navlist li > a {
    text-decoration: none;
    color: #1ac;
}
.navlist img {
    height: 2em;
    width: auto;
    padding: 0px;
    border-radius: 0.16em;
    vertical-align: baseline;
}
#iconDiv {
    background: white;
}
.iconTxt {
    position: relative;
    transition: opacity 500ms linear;
    z-index: -1;
    overflow:hidden;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}

@media only all and (max-width: 810px) {
    .iconTxt {
        opacity: 0;
        transition: opacity 250ms linear;

        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }
}
@media only all and (max-width: 790px) {
    .iconTxt {
        display: none;
    }
    .navlist {
        justify-content: center;
    }
}

#topNav {
    opacity: 0;
    transition: opacity 100ms linear;
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
    z-index: 10;
}
@media (min-width: 580px) {
    #topNav {
        opacity: 1;
        transition: opacity 100ms linear;
        transform: translateY(0%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    } 
}

@keyframes slide-out {
    100% { transform: translateY(200%); }
}

@-webkit-keyframes slide-out {
    100% { -webkit-transform: translateY(200%); }
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}