
.navlist {
    display: flex;
    box-sizing: border-box;
    width: 100%;

    z-index: 100;
    margin: 0;
    padding: 20px 0px 20px 40px;
}
.navlist ul {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    padding: 0px;
}
.navlist li {
    list-style: none;
    /* margin-right: 20px; */
    font-size: 25px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
}
.navlist li > * {
    margin-right: 20px;
}
.navlist li > a {
    text-decoration: none;
    color: #1ac;
}
.navlist img {
    height: 50px;
    width: auto;
    padding: 0px;
    border-radius: 4px;
    vertical-align: baseline;
}
#iconDiv {
    background: white;
}
.iconTxt {
    position: relative;
    transition: opacity 500ms linear;
    z-index: -1;
    overflow:hidden;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
@media only all and (max-width: 810px) {
    .iconTxt {
        opacity: 0;
        transition: opacity 250ms linear;

        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }
}
@media only all and (max-width: 790px) {
    .iconTxt {
        display: none;
        transition: all 1s linear;
    }
    .navlist {
        justify-content: center;
    }
}


@keyframes slide-out {
    100% { transform: translateY(200%); }
}

@-webkit-keyframes slide-out {
    100% { -webkit-transform: translateY(200%); }
}


