/*
    This Footer Exists at the bottom of all the content above it.
    It is up to that content to be sized appropriately to make sure overflow happens
      when required.
*/
footer {
    margin: 0;
    position: relative;
    z-index: 9999;
}
.footlist {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: .5em;
    padding-inline-start: 0px;
    padding: 5px;
    bottom: -3px;
}
.footlist li {
    list-style: none;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.footlist li > a {
    text-decoration: none;
    color: var(--footer-text);
    
}