button {
  cursor: pointer;
}

/* Default Button Look */
button[round] {
  font-size: var(--font-size-normal);
  height: calc(1.1em);
  width: calc(1.1em);

  color: text;

  border-width: 0.15em;
  border-radius: 5px;
  border-style: solid;
  border-color: currentColor;

  background-color: -webkit-control-background;
  transition: background-color 100ms ease-in-out 0s,
    border-color 50ms ease-in-out 0s, scale ease-in 100ms;
}

button[round]:hover { 
  animation-name: none !important;
  scale: 1.1;
}
button[round]:active:hover {
  scale: 0.8;
}


/* Based on Buton 8 at https://fdossena.com/?p=html5cool/buttons/i.frag*/
button.flat {
  display: inline-flex;
  width: initial;
  height: initial;
  scale: 1 !important;
  padding: 0.2em;
  /* 1.45em;*/
  margin: 0.1em;
  border: 0.15em solid var(--colour);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: var(--twitch-white);
  background-color: var(--colour);
  text-align: center;
  position: relative;

  flex: 0 0 auto;
  transition: none;
}

button.flat:hover {
  border-color: var(--colour-hover);
}

button.flat:active {
  background-color: var(--colour-active);
}

@media all and (max-width:30em) {
  button.flat {
    display: block;
    margin: 0.2em auto;
  }
}

button.flat * {
  margin: 5px;
  align-self: center;
}

input[type=checkbox] {
  appearance: none;
  height: calc(1em - 0.15em);
  width: calc(1em - 0.15em);
  margin: 0;
  margin-left: .3em;
  position: relative;
}


input:is([type=button], [type=checkbox]) {
  transition: scale ease-in 100ms;
}

input:is([type=button], [type=checkbox]):checked {
  animation-name: bounce-scale;
  animation-duration: 150ms;
}

input:is([type=button], [type=checkbox]):hover {
  animation-name: none !important;
  scale: 1.1;
}

input:is([type=button], [type=checkbox]):active:hover {
  scale: 0.8;
}


input[type=checkbox]::before {

  display: block;
  content: "";

  width: 100%;
  height: 100%;

  position: relative;
  top: calc(-25% + 0.075em);
  left: calc(-25% + 0.075em);

  border-width: 0.15em;
  border-radius: 5px;
  border-style: solid;
  border-color: currentColor;

  color: inherit;
  background-color: -webkit-control-background;

  transition: background-color 100ms ease-in-out 0s,
    border-color 50ms ease-in-out 0s;

}

input[type=checkbox]::after {

  pointer-events: none;
  display: inline-block;
  content: "";

  width: 100%;
  height: 100%;
  color: inherit;

  position: absolute;
  top: -.15em;
  left: .075em;

}

input[type=checkbox]:is(:checked, :indeterminate, :hover)::before {
  background-color: var(--input-colour);
}
input[type=checkbox]:focus::before {
  color: var(--input-colour);
}
input[type=checkbox][tick]:checked::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.1 10.1'%3E%3Cpath class='path' fill='none' stroke-linecap='square' stroke-linejoin='miter' stroke='white' stroke-width='2' d='M 1.5,6 L 3.5,7.5 L 8.5,1.5'/%3E%3C/svg%3E");
}
input[type=checkbox][cross]:checked::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.1 10.1'%3E%3Cpath class='path' fill='none' stroke-linecap='square' stroke-linejoin='miter' stroke='white' stroke-width='2' d='M 1.5,8.5 L 8.5,1.5 M 1.5,1.5 L 8.5,8.5' /%3E%3C/svg%3E");
}
input[type=checkbox]:indeterminate::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.1 10.1'%3E%3Cpath class='path' fill='none' stroke-linecap='square' stroke-linejoin='miter' stroke='white' stroke-width='2' d='M 1.5,5 L 8.5,5'/%3E%3C/svg%3E");
}
input[type=checkbox]:checked::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.1 10.1'%3E%3Crect fill='white' stroke-linecap='square' stroke-linejoin='miter' stroke='white' width='3' height='3' x='3.5' y='3' rx='.2'/%3E%3C/svg%3E");
}
@keyframes checkmark-fill {
  from {
    stroke-dashoffset: 15;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmark-empty {
  from {
    stroke-dashoffset: 30;
  }

  to {
    stroke-dashoffset: 15;
  }
}

@keyframes checkmark-mix {
  from {
    stroke-dashoffset: 30;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes bounce-scale {
  0% {
    scale: 0.8;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}