<li class="project">
    <a href="{{url}}/">
    <picture class="fallback-image">
        <img src="{{titlecard-url}}"
        onerror="this.onerror=null;this.src=null;"
        alt={{alt}}
        width=450 height=254>
    </picture>
    <div>
        <div class="infobar">
            <p>{{name}}</p>
            {%if(tags)%{
                <ul class="tag-list">
                Tags: 
                {%foreach(tag in tags)%{
                    <li class="tag">
                        {{ tag }}
                    </li>
                }%endforeach%}
                </ul>
            }%endif%}
        </div>
    </div>
    </a>
</li>