<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Safari Colour Things -->
    <meta name="color" content="#171b20">
    <meta name="theme-color" content="#171b20">
    <!-- Data -->
    <meta name="author" content="Sharples">
    
    <title>Sharples' Corner</title>
    <base href="/">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navlist.css">
    <link rel="stylesheet" href="/css/footlist.css">
    <link rel="stylesheet" href="/css/hamburger.css">

    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/fallback-image.css">
    <!-- Favicons -->
    <link rel="icon" href="/images/favicon/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
    <!-- Scripts -->
    <script src="/js/scrollZoom.js"></script>
    <script src="/js/buttonPress.js" defer></script>
    <!-- Other -->
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<header>
    <nav id="navbar">
        <ul class="navlist">
            <li class="left">
                <ul>
                    <li id="hamMenu">
                        <input type="checkbox" id="menuButton">
                        <div id="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                    <li id="navIcon">
                        <img srcset=
                                "images/PIA21891/PIA21891x50.png 0.5x,
                                 images/PIA21891/PIA21891x320.png 1x,
                                 images/PIA21891/PIA21891x640.png 1.5x,
                                 images/PIA21891/PIA21891.png 1000w"
                            src="images/PIA21891/PIA21891x50.png"
                            alt="Header Logo"
                            width="50px">
                        </img>
                    </li>
                    <li id="iconTxt">
                        Sharples' Corner
                    </li>
                </ul>
            </li>
            <li id="topNav">
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./projects/">Projects</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<body>
<div id="background-colour">
    <div>
        <input type="checkbox" id="showMenu" style="display:none">
        <ul id="menu">
            <li><a href="./">Home</a></li>
            <li><a href="./projects/">Projects</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </div>
    <div id="subbody">
        <h1 class="title">Projects</h1>
        <ul id="projectList">
            {{ Content }}
        </ul>
    </div>
</div>
</body>
<footer>
    <ul class="footlist">
        <li><a href="mailto:benedict.sharp@exwick.com" rel="nofollow">Email</a></li>
        <li><a href="https://github.com/ItsSharples" rel="nofollow">GitHub</a></li>
        <li><a href="https://itssharples.itch.io" rel="nofollow">Itch.io</a></li>
        <li><a href="https://twitter.com/ItsSharples" rel="nofollow">Twitter</a></li>
    </ul>
</footer>
</html>
