<li class="project">
    <a href="{{url}}/">
    <picture class="fallback-image">
        <img src="{{titlecard-url}}"
        onerror="this.onerror=null;this.src=null;"
        alt={{alt}}
        width=450 height=254>
    </picture>
    <div>
        <p>{{name}}</p>
        {%if(tags)%{
            <ul>
            {%foreach(tag in tags)%{
                <li>
                    {{ tag }}
                </li>
            }%endforeach%}
            </ul>
        }%endif%}
    </div>
    </a>
</li>