<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Safari Colour Things -->
    <meta name="color" content="#171b20">
    <meta name="theme-color" content="#171b20">
    <meta name="color-scheme" content="dark light">
    <!-- Data -->
    <meta name="author" content="Sharples">

    <meta name="title" content="Sharples' Corner">
    <meta name="description" content="Sharples shows off stuff they've been up to">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://itssharples.github.io/">
    <meta property="og:title" content="Sharples' Corner">
    <meta property="og:description" content="Sharples shows off stuff they've been up to">
    <meta property="og:image" content="">

    <title>Sharples' Corner</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/navlist-new.css">
    <link rel="stylesheet" href="/css/footlist.css">
    <link rel="stylesheet" href="/css/hamburger-new.css">
    <link rel="stylesheet" href="/css/links.css">

    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/preview.css">
    <link rel="stylesheet" href="/css/fallback-image.css">
    <!-- Favicons -->
    <link rel="icon" href="/assets/images/favicon/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">
    <!-- Scripts -->
    <script src="/js/scrollZoom.js"></script>
    <script src="/js/buttonPress.js" defer></script>
    <!-- Other -->
    <link rel="manifest" href="/manifest.webmanifest">
</head>

<nav class="navbar">
    <ul class="navlist" role="list">
        <li class="left">
            <ul class="navbar-item">
                <li id="hamMenu">
                    <label for="showMenu" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </li>
                <li id="navIcon">
                    <img srcset="/assets/images/PIA21891/PIA21891x50.png 50w,
                                /assets/images/PIA21891/PIA21891x320.png 320w"
                        src="/assets/images/PIA21891/PIA21891x50.png" alt="Header Logo" width="100%">
                    </img>
                </li>
                <li id="iconTxt">
                    Sharples' Corner
                </li>
            </ul>
        </li>
        <input type="checkbox" id="showMenu">
        <li class="primary-navigation" id="navigation">
            <ul class="navbar-item" role="list">
                <li><a href="/">Home</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav>
<body>
    <div id="background">
        <div id="content">
            <h2 class="title" id="projects">Projects</h2>
            <ul id="project-list">
                {{ Content }}
            </ul>

            <h2 id="see-more">See More</h2>
            <div>
                <p>The Source Code to most of these Projects is available on my 
                <a href="https://github.com/ItsSharples" rel="nofollow">GitHub!</a></p>
                <p>You may even find some smaller weirder projects that I didn't write details about there!</p>
            </div>
        </div>
    </div>
</body>
<footer>
    <ul class="footlist">
        <li><a href="mailto:contactme@sharples.dev" rel="nofollow">Email</a></li>
        <li><a href="https://github.com/ItsSharples" rel="nofollow">GitHub</a></li>
        <li><a href="https://itssharples.itch.io" rel="nofollow">Itch.io</a></li>
        <li><a href="https://twitter.com/ItsSharples" rel="nofollow">Twitter</a></li>
    </ul>
</footer>

</html>